.hero-card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  border: solid 0.2px;
  padding: 15px;
  width: 80vw;
  background-color: var(--main-color);

  img {
    max-height: 30vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  p {
    font-size: small;
    line-height: 1.2;
    max-height: 10ch;
    overflow: hidden;
  }

  li {
    font-size: smaller;
    padding: 0;
  }

  p {
    text-align: center;
  }

  h1 {
    font-size: x-large;
    text-align: center;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  margin: 10px 0;
  height: fit-content;
  padding: 5px 20px;
}

.save-button {
  padding: 5px;
}

.duration {
  font-weight: 700;
}
