.createaccount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputtitle {
  text-align: center;
}

.inputcreate {
  border: none;
  width: 80%;
  margin: 20px;
  font-size: small;
}

.inputtext {
  font-size: 13px;
  margin-left: 10%;
}

.inputtextinfo {
  font-size: 13px;
  margin-left: 10%;
  margin-top: 5%;
  font-weight: 800;
}

.lilogin {
  list-style-type: none;
  font-size: 10px;
}

.logintitle {
  text-align: center;
  margin: 25px;
}
.logintext {
  font-size: 10px;
  margin: 10px;
}

.loginul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
