.card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: solid, 0, 5px, grey;
  border-radius: 10px;
  padding: 15px;
  max-width: 70vw;
  background-color: var(--main-color);

  img {
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px;
  }
  p,
  li {
    font-size: x-small;
    line-height: 1.2;
  }
  h1 {
    font-size: large;
    line-height: 0.9;
    margin: 5px 0;
  }

  li {
    font-size: smaller;
    padding: 0;
  }
  .submit-button {
    margin: 10px 0;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
