#mentore {
  background-color: #eff5fd;
}
.header-mentore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mentore img {
  border-radius: 50%;
  width: 30vw;
}
#mentore h1 {
  font-family: var(--font-passion);
}
#mentore h3,
p {
  font-family: var(--font-poppins);
}
.groupe-mentore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
