.avatar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  .icon-avatar {
    height: 70%;
    width: 70%;
  }
}

.section-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  .infos-user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7f9fa;
    border-radius: 15px;
    width: 90%;
    margin: 1rem 0;
    padding: 1rem;
  }
  .data-user-profile {
    display: flex;
    flex-direction: column;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 7vh;
    border: none;
    border-radius: 15px;
    background-color: #90dfeb;
    .icon-user-contact {
      height: 70%;
      width: 70%;
      color: black;
    }
  }
}
.section-users-needs {
  display: flex;
  flex-direction: column;
  align-items: center;
  .users-needs {
    width: 100%;
    margin: 1rem 0;
  }
  li {
    list-style: none;
  }
}
.section-user-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
