#cardmentor h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2vh 1vh 3vh 1vh;
}
.imgprofile {
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  object-fit: cover;
}
.container-mentors {
  background-color: #e7f9fa;
  padding: 2vh 2vh;
  margin: 1vh 2vh 1vh 2vh;
}
.imgmentor {
  display: flex;
  justify-content: space-evenly;
}
.name {
  margin-top: 15px;
}
.mentor-name {
  text-decoration: none;
  color: black;
}
.titleservice {
  font-weight: 100;
}
.service {
  background-color: #90dfeb;
  border-radius: 20px;
  margin: 15px;
  margin: 2vh 1vh 2vh 1vh;
  text-align: center;
}
.mentor-skills {
  padding: 0;
}
#cardmentor li {
  list-style-type: none;
  margin-bottom: 1vh;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  color: #27515e;
  border: none;
  padding: 5px 10px;
  margin: 5px 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #ffffff;
}

.pagination button.active {
  background-color: #27515e;
  color: white;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  color: #cccccc;
}
