#header {
  display: flex;
  justify-content: space-around;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #e7f9fa;
}
.user-logo {
  font-size: 2rem;
  color: #27515e;
  cursor: pointer;
}
.burgerMenu {
  cursor: pointer;
  color: #27515e;
}

.burgerNav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  top: 44px;
  left: 0;
  right: 0;
  background-color: #e7f9fa;
}

.burgerNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.burgerNav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.burgerNav li a {
  text-decoration: none;
  color: #27515e;
  font-size: x-large;
}
.burgerNav li a:hover {
  color: #90dfeb;
}
